<div class="row" id="newsletter-wrap">
<div class="col-sm-12" id="newsletter-inner">
<div class="row">
<div class="col-sm-12" id="df-text-format">
<h3>Fejlődj a párkapcsolatodban!</h3>

<p>Itt az ideje, hogy végre megtudd, melyek azok a dolgok, amelyek működőképessé

tesznek egy párkapcsolatot!</br>

Fejleszd a személyiséged, tanuld meg, mi építi és mi rombolja a szerelmet és az

összetartozást.</br>

Iratkozz fel a teljesen INGYENES online párkapcsolat - fejlesztő kurzusra!</br></p>
</div>
	<div class="col-sm-3" id="woman-newsletter">

	<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" style="float:left">
<form action="//herokuapp.us13.list-manage.com/subscribe/post?u=b091613d3a3f85ddf238560d3&amp;id=e1a9ef2744" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>feliratkozás nőknek</h2>
<div class="indicates-required"><span class="asterisk">*</span> kötelező megadni</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">E-mail Cím  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Vezetéknév  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required form-control" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">Keresztnév  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b091613d3a3f85ddf238560d3_e1a9ef2744" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Feliratkozom" name="subscribe" id="contacts-send-button" class="btn btn-secondary btn-sm"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->	
	
	</div>

	<div class="col-sm-6" id="newsletter-middle-image"><!--<img class="img-responsive" src="/img/wm.png" align="middle">--></div>

	<div class="col-sm-3" id="man-newsletter">

<div id="mc_embed_signup" style="float:right">
<form action="//herokuapp.us13.list-manage.com/subscribe/post?u=b091613d3a3f85ddf238560d3&amp;id=c8bb0468e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>feliratkozás férfiaknak</h2>
<div class="indicates-required"><span class="asterisk">*</span> kötelező megadni</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">E-mail Cím  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Vezetéknév  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required form-control" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">Keresztnév  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b091613d3a3f85ddf238560d3_c8bb0468e1" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Feliratkozom" name="subscribe" id="contacts-send-button" class="btn btn-secondary btn-sm"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
	</div>
</div>
</div>
</div>
