	<div class="row">
		<div class="col-sm-4" style="padding:15px;">
		<div id="newsletter-inner" style="padding:25% 0 25% 0; width:100%; height: 300px; text-align:center; ">
			<h1 class="df-text-style">Legfrissebb blog <br> bejegyzéseim <br></h1>
		</div>
		</div>
		
		<% @posts.each do |post| %>
		<div class="col-sm-4 newest">
			<div class="newest-cover" style="background-image: url('<%= post.image.cover.url %>')">
				<div class="newest-info">
					<div class="newest-info-title">
					<h3><%=link_to post.title.truncate(30), show_post_path(post) %></h3>
					</div>
					<div class="newest-info-description">
					<p><%= strip_tags truncate_html  post.content, :length => 350 %></p>
					</div>
					<button type="button" class="btn btn-secondary btn-sm" id="newest-info-button">
					<%=link_to 'Bővebben', show_post_path(post) %></button>
				</div>      
       		</div>
       		</div> 
    	<% end %>
    </div>