<div class="container" id="content-wrap">
	<div id="content">
	<div class="row">
		<div class="col-sm-4">
			<div id="user-card">
			<div id="avatar">
			<img class="img-responsive" src="img/avatar.jpg" alt="">
			</div>
			<h4 id="user-card-name">Bűdi Marianna</h4>
			<p id="user-card-rank">párkapcsolati coach</p>
			<p></p>
			<hr>
			<p><a href=""></a></p>
			</div>
		</div>
		<div class="col-sm-8" id="df-text-format">
			<h3>Magamról pár szó...</h3><br>
<p id="text-indent">
32 éves múltam. Vidéken nőttem fel, majd 18 évesen Budapestre költöztem, főiskolára jelentkeztem. Szüleim mindent megtettek azért, hogy szépen, hagyományosan, értékek mentén neveljenek. Van egy öcsém, egy év van közöttünk.
</p>
<br>
<p id="text-indent">
Végzettségem emberi erőforrás menedzser, közgazdász szakirányon. Párkapcsolati coach. Jelenleg life coachingot tanulok.
</p>
<br>
<p id="text-indent">
Több területen kipróbáltam már magam, már a főiskola mellett dolgozni kezdtem. Bármivel foglalkoztam és bárhol is dolgoztam, mindig döntő volt, hogy közel kerüljek az emberekhez, akikkel találkozom. Szeretem megismerni őket, és szeretem, hogy megtisztelnek a bizalmukkal és az életük történeteivel, amiből nagyon sokat lehet tanulni. Nagy élmény az emberek megismerése és az együtt gondolkodás lehetősége, a megoldások keresése. Számomra ez mindig egy izgalmas terület lesz.
</p>
<br>
<p id="text-indent">
Manapság az egymással szemben támasztott igények, az elvárások egyre 
nagyobbak, nem engedhető meg, hogy ne fejlődjünk személyiségünkben mi magunk is. Egy megfelelő coach ebben jelentős segítséget tud nyújtani.
</p>
<br>
<p id="text-indent">
<strong>
Egyre inkább meggyőződésem, hogy a ma embere számára már csak az önfejlesztés jelent lehetőséget kitűnni. Így van ez a párkapcsolatban és a munka területén egyaránt.
</strong>
</p>
<br>
<h3>Miért is alakult végül így az életem?</h3>
<br>
<p id="text-indent">
Amikor megismertem a Párom, azt éreztem, hogy minden adottságunk megvan egy csodás életre, egy olyan tőke, olyan szerelem, amit nem lehet elhibázni. Mindig azt gondoltam, hogy ha szeretjük egymást, ha mindent megbeszélünk, akkor nincsenek megoldhatatlan akadályok. Mégis voltak. Nem értettem.
</p>
<br>
<p id="text-indent">
Ezen a ponton döntöttem úgy, megpróbálom megtanulni, mitől működik egy kapcsolat. Rá kellett jönnöm, hogy amit addig hittem, nem elég. A kapcsolatról nem tanítanak az iskolában. Nem mondják meg, hogyan tud erős maradni, hogyan lehet kijutni a mélypontokról. Nem mondják meg, mit tegyél, ha mindig ugyanolyan vagy hasonló kudarcok érnek. Nem olvasunk arról, hogy a konfliktusokat miért fontos megoldani, sem arról, milyen dolgok befolyásolnak, amiket gyermekkorból hozunk.
</p>
<br>
<p id="text-indent">
Az emberek hajlamosak azt gondolni, a párkapcsolat működtetése belülről jövő adottság, azt hiszik, ha megtalálják a megfelelő társat, akkor minden jól fog működni. Sajnos ez nem így van. Egy erős és tartós kapcsolat sok munkával jár. Minden nap tenni kell érte. Meg kell ismerni a kapcsolatunk működésének dinamikáját, magunkról már nem is beszélve.
</p>
<br>
<p id="text-indent">
Így lett a hivatásom, hogy kiálljak a párkapcsolatok mellett, mert hiszem, hogy igenis léteznek jó és erős kapcsolatok és ez a mai világban is érték. Tudnunk kell azonban, hogy az életünknek ez a része is olyan, mint bármelyik másik: tanulnunk kell róla, fejlődnünk kell, hiszen egy jól működő kapcsolatot rengeteg finom összetevő mozgat. Ezeken a területeken és ezeknek az összetevőknek a megismerésén tudja végig vinni a párt egy megfelelő párkapcsolati coach.
</p>
<br>
<p id="text-indent">
Ma már hazánkban is egyre többen vannak olyan emberek és helyek, ahol küldetés, hogy a párok együtt maradjanak, és ehhez minden tudást és támogatást megadnak. Használjuk ki, hogy van segítség, ne engedjük tönkremenni a párkapcsolatunkat!
</p>
<br>
<p id="text-indent">
A Párkapcsolati Coaching és Mediációs Intézetnél bejegyzett párkapcsolati coachként regisztráltak.
</p>
<br>
<div id="sign">
Szeretettel:<br>
Mariann
</div>


		</div>
	</div>
	</div>
</div>