<div class="container" id="content-wrap">
	<div id="content">
	<div class="row">
		<div class="col-sm-4">
			<div id="user-card">
			<div id="avatar">
			<img class="img-responsive" src="img/avatar.jpg" alt="">
			</div>
			<h4 id="user-card-name">Bűdi Marianna</h4>
			<p id="user-card-rank">párkapcsolati coach</p>
			<p></p>
			<hr>
			<p><a href="http://parkapcsolaticoach.hu/budapest/budi-marianna">parkapcsolaticoach.hu</a></p>
			</div>
		</div>
		<div class="col-sm-8" id="df-text-format">
			<h3>Magamról pár szó...</h3><br>
<p>
32 éves múltam. Vidéken nőttem fel, majd 18 évesen Budapestre költöztem,
főiskolára jelentkeztem. Szüleim mindent megtettek azért, hogy szépen, hagyományosan,
értékek mentén neveljenek. Van egy öcsém, egy év van közöttünk. Szeretem a
családomat.
</p>
<br>
<p>
Végzettségem emberi erőforrás menedzser, közgazdász szakirányon.
</p>
<br>
<p>
Sok területen kipróbáltam már magam, a főiskola mellett azonnal dolgozni
kezdtem, fontos volt nekem az önállóság. Bármivel foglalkoztam és bárhol is dolgoztam,
mindig döntő volt, hogy közel kerüljek az emberekhez, akikkel találkozom. Szeretem
megismerni őket, és szeretem, hogy megtisztelnek a bizalmukkal és az életük
történeteivel, amiből nagyon sokat lehet tanulni, tapasztalatot gyűjteni.
</p>
<br>
<p>
Számomra ez mindig egy izgalmas terület lesz. Nagy élmény az emberek
megismerése és az együtt gondolkodás lehetősége, a megoldások keresése.
</p>
<br>
<p>
Idővel megismertem a Párom, azt éreztem, hogy minden adottságunk megvan
egy csodás életre, egy olyan tőke, olyan szerelem, amit nem lehet elhibázni.
Mindig azt gondoltam, hogy ha szeretjük egymást, ha mindent megbeszélünk, akkor
nincsenek megoldhatatlan akadályok. Mégis voltak. Nem értettem.
</p>
<br>
<p>
Ezen a ponton döntöttem úgy, megpróbálom megtanulni, mitől működik egy
kapcsolat. Rá kellett jönnöm, hogy a szeretet, a kommunikáció még mindig nem elég. A
kapcsolatról nem tanítanak az iskolában. Nem mondják meg, hogyan tud erős maradni,
hogyan lehet kijutni a mélypontokról. Nem mondják meg, mit tegyél, ha mindig
ugyanolyan vagy hasonló kudarcok érnek. Nem olvasunk arról, hogy a konfliktusokat
miért fontos megoldani, sem arról, milyen dolgok befolyásolnak, amiket gyermekkorból hozunk.
</p>
<br>
<p>
Az emberek hajlamosak azt gondolni, a párkapcsolat működtetése belülről jövő
adottság, azt hiszik, ha megtalálják a megfelelő társat, akkor minden jól fog működni. Ez
nem így van. Egy erős és tartós kapcsolat sok munkával jár. Minden nap tenni kell érte.
Meg kell ismerni a kapcsolatunk működésének dinamikáját, magunkról már nem is
beszélve.
</p>
<br>
<p>
Így lett a hivatásom, hogy kiálljak a párkapcsolatok mellett, mert hiszem, hogy
igenis léteznek jó és erős kapcsolatok és ez a mai világban is érték. Mégis olyan sokan
vannak egyedül, vagy egy nem megfelelően működő kapcsolatban.
</p>
<br>
<p>
Mindenkinek tudnia kellene, hogyan működnek a kapcsolatok, hogyan tartható
fenn a boldogság, és hogy sokszor igazán mély pontokról is visszahozható a pár élete
egy sokkal erősebb és magasabb szintre, ha akarják.
</p>
<br>
<p>
Ma már hazánkban is egyre többen vannak olyan emberek és helyek, ahol
küldetés, hogy a párok együtt maradjanak, és ehhez minden tudást és támogatást
megadnak. Használjuk ki, hogy van segítség, ne engedjük tönkremenni a
párkapcsolatunkat!
</p>
<br>
<p>
A Párkapcsolati Coaching és Mediációs Intézetnél tanultam, bejegyzett
párkapcsolati coachként regisztráltak.
<br>
<div id="sign">
Szeretettel:
Mariann
</div>


		</div>
	</div>
	</div>
</div>