
<div class="container" id="content-wrap">
	<div id="content">
	<div class="row">
		<div class="col-sm-12" id="df-text-format">
			<h3>Miért pont párkapcsolati coaching?</h3>
	<p>
	Mert kevés meghatározóbb dolog van az életünkben, mint a párkapcsolatunk.

Ha a kapcsolatunk boldog ­gondoljunk a csodás kezdeti időszakra­, minden jól megy!

Hatással van a munkánkra, a családunkra, a baráti kapcsolatainkra, a gyermekeink

életére, minden egyes napra az életünkben. Sőt, még akkor is hat ránk, ha már nincs.

Ennek ellenére, még mindig nem foglalkozunk vele igazán, nem figyelünk oda a

minőségére, a fenntarthatóságára. Nem tanulunk meg konfliktusokat kezelni és valójában

nagyon kevesen értik meg a párjuk viselkedésének okait.	
	</p>

	<p>
	Gondok, problémák minden kapcsolatban termelődnek. Ez teljesen normális. A

kulcs a boldogságunkhoz ezek kezelésében rejlik. Meg kell tudnunk oldani a felmerülő

akadályokat.	
	</p>

	<p>
	Előfordulhat azonban, hogy olyan helyzetet hoz az élet, ami megoldhatatlannak

tűnik, éket ver közénk, eltávolít.	
	</p>
	
	<p>
	Élhetünk, mint két idegen egymás mellett, véget nem érő vitákba

bonyolódhatunk, megcsalhatjuk a párunkat, elválhatunk... vagy DÖNTHETÜNK úgy, hogy

mindent megteszünk a kapcsolat rendezése érdekében, tudva azt, hogy amíg egy pár

úgy gondolja, meg tud mindent oldani, addig az így is lesz.	
	</p>

	<p>
	Vannak azonban esetek, amikor a megoldást mégsem találjuk, ilyenkor pedig jól

jöhet egy független személy, aki segít a konfliktus megértésében és feloldásában, hogy

utána egy erősebb alapra kerüljön a közös élet.	
	</p>

	<p>
	Végül, megosztanék egy számomra kedves gondolatot, ami nagyon sokat

segített nekem, amikor úgy éreztem, a dolgok épp nehezebbek. Alex és Stephen

Kendrick Merj szeretni című könyvének egyik részében írják:

Szíved számára irreális dolog az, hogy állandóan repessen arra a gondolatra, hogy

minden pillanatot a házastársaddal töltesz... Mindazonáltal, van valami, ami ugyanolyan

erőteljes, mint az a friss, zsenge szerelem. Ez pedig abból a döntésből származik, hogy

gyönyörködni fogsz hitvesedben, és szereted őt, függetlenül attól, hogy mennyi ideje

vagytok már házasok.

Más szavakkal ez azt jelenti, hogy az a szeretet, amely úgy dönt, hogy szeret,

ugyanolyan erőteljes, mint az a szeretet, amely úgy érzi, hogy szerelmes. Sok

szempontból még valóságosabb is, mert tágra nyitott szemekkel jár.

Ha csak magunk számítunk magunknak, állandóan hajlamosak leszünk egymás

kritizálására. Lesz olyan, mikor feleséged az idegeidre megy. A férjed kétségbeesésbe

kerget. Pedig napjaink túlságosan rövidek ahhoz, hogy azokat csip­csup ügyek miatti

civakodással vesztegessük el. Az élet ehhez túl gyorsan múlik el."

"A házassági kapcsolatban nem fogod mindig szerelmesnek érezni magad.	
	</p>

	<p>
	Ha még nem szántad el magad, mit tegyél, hogyan dönts, akkor ismerd meg

jobban a párkapcsolatod működését! Rendszeresen kapsz majd egy gondolatot vagy

feladatot, amely hatására egyre jobban meg fogod érteni a kapcsolatod dinamikáját, ok

és okozati összefüggéseit. Szeretni fogod. :)	
	</p>

	<p>
	Köszönettel azért, mert a kapcsolatod jobbításán gondolkodsz.
	</p>

	<div id="sign">
	Sok sikert!	Mariann	
	</div>
		</div>
	</div>
	
	</div>
</div>
