
<div class="container" id="content-wrap">
	<div id="content">
	<div class="row">
		<div class="col-sm-12" id="df-text-format">
			<h3>Miért van szükség coachra? Egyáltalán szükség van rá?</h3>
			<br>
			<p id="text-indent">
				Ha legtöbb embert megkérdeznénk, valószínűleg kevesen lennének, akik azt tudnák mondani, hogy valaha is komolyabban tanultak a párkapcsolatról és annak működéséről. Amint ezt felismerjük, már nem is olyan nehéz megértenünk, miért ütközünk nehézségekbe a szerelemben. Sokan élnek olyan párkapcsolatban, ami bizonyos okokból nem mindenben olyan, amilyet szeretnének.
			</p>
			<br>
			<p id="text-indent">
				Talán sok a vita, eltávolodtak egymástól az évek alatt, kihűlt a szerelem, az egyik fél elhanyagolva érezheti magát, míg a másik nem is érti a dolgot... lehetnek gondok az anyóssal, 
				konfliktusok a gyereknevelés kapcsán; féltékenység, megcsalás rombolhatja a pár életét. Számtalan megoldandó feladatot hozhat az élet, némelyről akár azt is gondolhatják, hogy ez már soha nem oldódik meg.
			</p>
			<br>
			<p id="text-indent">
				A jó hír az, hogy a legtöbb konfliktus megoldható. Ugyanakkor az őszinte szándék nélkülözhetetlen a siker érdekében.
			</p>
			<br>
			<p id="text-indent">
				A jó hír ellenére még mindig nem foglalkozunk a kapcsolatunkkal igazán, nem figyelünk oda a minőségére, nem gondolunk a kapcsolat jövőjére. Gondok, problémák minden kapcsolatban termelődnek. Ez teljesen normális. A kulcs a boldogságunkhoz, ezek megoldásában rejlik.
			</p>
			<br>
			<p id="text-indent">
			<strong>
				DÖNTSÜNK mindig úgy, hogy mindent megteszünk a kapcsolat rendezése érdekében!
			</strong>
			</p>
			<br>
			<p id="text-indent">
				<strong>
				Vannak esetek, amikor a megoldást nem találja a pár. Azért nem találja, mert nem tudja, hol keresse.</strong> Gyakori, hogy a felnőttkori nehézségek gyermekkorból hozott minták alapján kerülnek felszínre. Aligha lehet, hogy a pár ­ például egy vita hevében­, belegondolna ebbe, majd felismerné, majd ennek alapján kezelni is tudná a helyzetet. <strong>Ezért fontos tanulni róla, és ezért fontos olyan személyhez fordulni párkapcsolati problémákkal, aki szakmailag képzett és kívülállóként tisztán látja a szituációt.</strong>
			</p>
			<br>
			<p id="text-indent">
				Szakemberhez fordulunk, ha fáj a fogunk, ha nyelvet tanulunk, ha autót javíttatunk. Számtalan terület van, ahol belátjuk, hogy tudásunk hiányos...Valahogyan épp a párkapcsolatok terén nem érezzük ennek olyan nagy szükségét...érdemes ezt végig gondolni. Legyünk igényesek a párkapcsolatunkra is!
			</p>
			<br>
			<p id="text-indent">
				Ha még nem szántad el magad, mit tegyél, hogyan dönts, iratkozz fel az online párkapcsolat­fejlesztő programra.
			</p>
			<br>

			<div id="sign">
			Sok sikert!<br>
			Mariann	
			</div>
			</br>
			<p>
				A Merj szeretni című könyv egyik részében írják:
			</p>
			<p>
			"A házassági kapcsolatban nem fogod mindig szerelmesnek érezni magad. Szíved számára irreális dolog az, hogy állandóan repessen arra a gondolatra, hogy minden pillanatot a házastársaddal töltesz... Mindazonáltal, van valami, ami ugyanolyan erőteljes, mint az a friss, zsenge szerelem. Ez pedig abból a döntésből származik, hogy gyönyörködni fogsz hitvesedben, és szereted őt, függetlenül attól, hogy mennyi ideje vagytok már házasok. Más szavakkal ez azt jelenti, hogy az a szeretet, amely úgy dönt, hogy szeret, ugyanolyan erőteljes, mint az a szeretet, amely úgy érzi, hogy szerelmes. Sok szempontból még valóságosabb is, mert tágra nyitott szemekkel jár. Ha csak magunk számítunk magunknak, állandóan hajlamosak leszünk egymás kritizálására. Lesz olyan, mikor feleséged az idegeidre megy. A férjed kétségbeesésbe kerget. Pedig napjaink túlságosan rövidek ahhoz, hogy azokat csip­csup ügyek miatti civakodással vesztegessük el. Az élet ehhez túl gyorsan múlik el."
			</p>

		</div>
	</div>
	
	</div>
</div>
