<div class="zoomground-wrap">

	<div class="zoomground"></div>

	<div class="zoomground-logo-wrap"></div>

	<div id="jump-down-button">
		<a class="page-scroll fa fa fa-angle-double-down fa-4x" href="#content-wrap"></a>
	</div>

</div>

<div class="container" id="content-wrap">
	<div id="content">
	<div class="row">
		<h3 class="df-text-style">Legutóbbi bejegyzések</h3>
		<% @posts.each do |post| %>
		<div class="col-sm-4 newest">
			<div class="newest-cover" style="background-image: url('<%= post.image.cover.url %>')">
				<div class="newest-info">
					<h3><%=link_to post.title, show_post_path(post) %></h3>
					<p><%= strip_tags raw post.content.truncate(300) %></p>
				</div>      
       		</div>
       		</div> 
    	<% end %>
    </div>
	</div>
</div>