<div class="zoomground-wrap">

	<div class="zoomground"></div>

	<div class="zoomground-logo-wrap">
		<div class="container">
		<div class="row hidden-xs hidden-sm" id="newsletter-coming">
			<div class="col-sm-6" id="newsletter-coming-text">
				<h3>Ha legtöbb embert megkérdeznénk, valószínűleg kevesen lennének, akik azt tudnák mondani,

hogy valaha is komolyabban tanultak a párkapcsolatról és annak működéséről.<br>

Amint ezt felismerjük, már nem is olyan nehéz megértenünk, miért ütközünk nehézségekbe a

szerelemben.<br>
</h3>
<a class="page-scroll" href="#newsletter-wrap">Fejlődj a párkapcsolatodban!</a>
<h3 id="df-sign">Mariann</h3>
			</div>
		</div>
		</div>
	</div>

	<div id="jump-down-button">
		<a class="page-scroll fa fa fa-angle-double-down fa-4x" href="#content-wrap"></a>
	</div>

</div>

<div class="container" id="content-wrap">
	<div id="content">
	<%= render 'pages/newests' %>
	<%= render 'pages/newsletter' %>
	</div>
</div>