<div class="container" id="content-wrap">
<div id="content">
<div class="contacts-page df-text-style">
<h3>Kapcsolat</h3>
<h3>Köszönjük az üzenetét</h3>
<p>Hamarosan válaszolunk</p>
</div>
</div>
</div>